/* ROOT */

:root {
  --clr-primary: rgb(28, 28, 28);
  --clr-secondary: rgb(228, 228, 228);
  --clr-accent: rgb(222, 255, 92);
  --clr-surface-light: rgb(241, 241, 241);
  --clr-on-surface-light: var(--clr-primary);
  --clr-surface-dark: rgb(52, 52, 52);
  --clr-on-surface-dark: rgb(252, 252, 252);
  --section-gutter-y: clamp(2.5rem, 4.762vw + 1.786rem, 7.5rem);
  --container-gutter-x: clamp(1rem, 1.429vw + 0.786rem, 2.5rem);
  --fluid-gallery-gutter: clamp(2rem, 0.952vw + 1.857rem, 3rem);
  --cta-gutter: clamp(1.5rem, 2.381vw + 1.143rem, 4rem);
  --gutter-lg: 2rem;
  --gutter-md: 1.5rem;
  --gutter-base: 1rem;
  --header-height: 4rem;
}

/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

button {
  font-size: inherit;
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

img {
  display: block;
  font-style: italic;
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

/* BASE */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-size: clamp(2.25rem, 1.667vw + 2rem, 4rem);
}

h2 {
  font-size: clamp(1.75rem, 0.476vw + 1.679rem, 2.25rem);
}

h3 {
  font-size: clamp(1.313rem, 0.179vw + 1.286rem, 1.5rem);
}

blockquote {
  font-size: clamp(1rem, 1.19vw + 0.821rem, 2.25rem);
}

button svg {
  width: 1.5rem;
  height: 1.5rem;
}

/* GLOBAL */

.landing-page-section {
  padding: var(--section-gutter-y) 0;
  background-color: var(--clr-primary);
  color: var(--clr-on-surface-dark);
}

.container {
  min-width: 15rem;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 var(--container-gutter-x);
}

.card {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--clr-surface-dark);
  color: var(--clr-on-surface-dark);
}

.card,
.card img {
  border-radius: 0.75rem;
  overflow: hidden;
}

.card .card__body {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.card img {
  aspect-ratio: 3/2;
}

.button {
  display: inline-block;
  min-width: 3rem;
  min-height: 3rem;
  padding: 0.75rem 1.5rem;
  border-radius: 100vmax;
}

/* HEADER */

header {
  width: 100%;
  height: 100%;
  background-color: var(--clr-accent);
}

.primary-nav {
  width: 100%;
  height: 100%;
  min-height: var(--header-height);
}

.primary-nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter-base);
  width: 100%;
  min-height: var(--header-height);
}

.primary-nav__item {
  min-width: 3rem;
  height: 100%;
  min-height: var(--header-height);
}

.nav__item-logo {
  margin-right: auto;
}

.nav__item-logo > a {
  font-size: clamp(1.5rem, 0.476vw + 1.429rem, 2rem);
  font-weight: 900;
}

.nav__item-cta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__item-cta > a {
  height: auto;
  border: 1px solid var(--clr-primary);
  border-radius: 100vmax;
  overflow: hidden;
  transition: all 150ms ease;
}

.nav__item-cta > a:hover,
.nav__item-cta > a:focus,
.nav__item-cta > a:active {
  border-color: var(--clr-primary);
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
}

.primary-nav__item > a:hover svg,
.primary-nav__item > a:hover svg,
.primary-nav__item > a:hover svg {
  width: 1.25rem;
  height: 1.25rem;
  visibility: visible;
  opacity: 1;
  margin-left: 0.5rem;
  transform: translateX(0);
}

.primary-nav__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--clr-primary);
}

.primary-nav__link:not(.nav__link-cta) {
  min-height: var(--header-height);
}

.primary-nav__link svg {
  width: 0;
  height: 0;
  transform: translateX(-1.25rem);
  visibility: hidden;
  opacity: 0;
  margin-left: 0;
  transition: all 300ms ease;
}

.primary-nav__link:not(.nav__link-logo, .button)::after {
  content: "";
  position: absolute;
  bottom: 0.75rem;
  width: 0;
  height: 0;
  border-radius: 100vmax;
  background: var(--clr-primary);
  transition: all 150ms ease;
}

.primary-nav__link:not(.nav__link-logo, .button):hover::after,
.primary-nav__link:not(.nav__link-logo, .button):focus::after,
.primary-nav__link:not(.nav__link-logo, .button):active:after {
  width: 100%;
  height: 0.125rem;
}

/* HERO */

.hero {
  background-color: var(--clr-accent);
}

.hero .container {
  max-width: 105rem;
}

.hero__card .card__body {
  padding: clamp(2rem, 1.905vw + 1.714rem, 4rem);
}

.hero__card .button-primary {
  background-color: var(--clr-accent);
  color: var(--clr-on-surface-light);
}

@media screen and (min-width: 80rem) {
  .hero__card .card__body,
  .hero__card .card__image {
    flex: 1 1 50%;
  }

  .hero__card .card__image img {
    aspect-ratio: 5/4;
  }
}

/* FEATURED */

.featured__heading {
  margin-bottom: var(--gutter-lg);
  text-align: center;
}

.featured__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--fluid-gallery-gutter);
  width: 100%;
  height: auto;
}

.featured__card .card__body {
  padding: var(--gutter-md);
}

.featured__card .card__body p {
  min-height: 12rem;
}

@media screen and (min-width: 40rem) {
  .featured__item {
    flex: 1 1 33%;
  }
}

@media screen and (min-width: 80rem) {
  .featured__item {
    flex: 1 1 20%;
  }
}

/* QUOTE */

.quote {
  border-top: 1px solid var(--clr-on-surface-dark);
  border-bottom: 1px solid var(--clr-on-surface-dark);
}

.quote .container {
  max-width: 72rem;
}

.quote__module {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-base);
}

.quote__module p {
  font-size: clamp(1rem, 0.476vw + 0.929rem, 1.5rem);
  font-weight: 900;
  align-self: flex-end;
}

/* CTA */

.cta__module {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gutter-base);
  padding: var(--cta-gutter);
  background-color: var(--clr-surface-dark);
  color: var(--clr-on-surface-dark);
  border-radius: 0.75rem;
}

.cta__module .cta__copy {
  text-align: center;
}

.cta__module .button-outline {
  border: 1px solid var(--clr-surface-light);
  color: var(--clr-on-surface-dark);
  background-color: transparent;
  transition: all 150ms ease;
}

.cta__module .button-outline:hover {
  border-color: var(--clr-accent);
  background-color: var(--clr-accent);
  color: var(--clr-primary);
}

@media screen and (min-width: 40rem) {
  .cta__module {
    justify-content: space-between;
    flex-direction: row;
  }

  .cta__module .cta__copy {
    text-align: left;
  }
}

/* FOOTER */

#site-footer {
  background-color: var(--clr-primary);
  color: var(--clr-on-surface-dark);
  padding-block: var(--gutter-md);
}

#site-footer .container {
  max-width: 60rem;
}

#site-footer .footer__module {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

#site-footer .footer__module .back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: auto;
  color: var(--clr-on-surface-dark);
  transition: color 150ms ease;
}

#site-footer .footer__module .back-to-top svg {
  width: 1.25rem;
  height: 1.25rem;
}

#site-footer .footer__module .back-to-top:hover,
#site-footer .footer__module .back-to-top:focus,
#site-footer .footer__module .back-to-top:active {
  color: var(--clr-accent);
}

@media screen and (min-width: 40rem) {
  #site-footer .footer__module {
    flex-direction: row;
    justify-content: space-between;
  }
}
