/* ROOT */

:root {
  --clr-primary: rgb(28, 28, 28);
  --clr-secondary: rgb(218, 218, 218);
  --clr-accent: rgb(222, 255, 92);
  --clr-surface-light: rgb(241, 241, 241);
  --clr-on-surface-light: var(--clr-primary);
  --clr-surface-dark: rgb(58, 58, 58);
  --clr-on-surface-dark: rgb(250, 250, 250);
  --section-gutter-y: clamp(2.5rem, 4.762vw + 1.786rem, 7.5rem);
  --container-gutter-x: clamp(1rem, 1.429vw + 0.786rem, 2.5rem);
  --fluid-gallery-gutter: clamp(2rem, 0.952vw + 1.857rem, 3rem);
  --gutter-base: 1rem;
}

/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  font-style: italic;
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

/* BASE */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-size: clamp(2.25rem, 1.667vw + 2rem, 4rem);
}

h2 {
  font-size: clamp(1.75rem, 0.476vw + 1.679rem, 2.25rem);
}

h3 {
  font-size: clamp(1.313rem, 0.179vw + 1.286rem, 1.5rem);
}

blockquote {
  font-size: clamp(1rem, 1.19vw + 0.821rem, 2.25rem);
}

/* GLOBAL */

.landing-page-section {
  padding: var(--section-gutter-y) 0;
  background-color: var(--clr-secondary);
}

.container {
  min-width: 15rem;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 var(--container-gutter-x);
}

.card {
  display: flex;
  flex-wrap: wrap;
}

.card,
.card img {
  border-radius: 0.75rem;
  overflow: hidden;
}

.card .card__body {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.button {
  display: inline-block;
  min-height: 3rem;
  padding: 0.75rem 1.5rem;
  border-radius: 100vmax;
}

/* HEADER */

header {
  width: 100%;
  height: auto;
  background-color: var(--clr-secondary);
}

.primary-nav {
  width: 100%;
  height: 4rem;
}

.primary-nav__list {
  display: flex;
  gap: var(--gutter-base);
  width: 100%;
  height: 100%;
}

.primary-nav__item {
  min-width: 3rem;
  height: 100%;
}

.primary-nav__item:first-child {
  font-size: 2rem;
  font-weight: 900;
  margin-right: auto;
}

.primary-nav__item:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-nav__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  padding: 0 0.5rem;
  color: var(--clr-primary);
}

.primary-nav__link svg {
  width: 0;
  height: 0;
  transform: translateX(-1.25rem);
  visibility: hidden;
  opacity: 0;
  margin-left: 0;
  transition: all 300ms ease;
}

.primary-nav__link:not(.logo, .button)::after {
  content: "";
  position: absolute;
  bottom: 0.75rem;
  width: 0;
  height: 0;
  border-radius: 100vmax;
  background: var(--clr-primary);
  transition: all 150ms ease;
}

.primary-nav__link:not(.logo, .button):hover::after,
.primary-nav__link:not(.logo, .button):focus::after,
.primary-nav__link:not(.logo, .button):active:after {
  width: 100%;
  height: 0.125rem;
}

.primary-nav__item:last-child > a {
  height: auto;
  margin: 0 0.5rem;
  padding: 0 1.5rem;
  border: 1px solid var(--clr-primary);
  border-radius: 100vmax;
  overflow: hidden;
  transition: all 150ms ease;
}

.primary-nav__item:last-child > a:hover,
.primary-nav__item:last-child > a:focus,
.primary-nav__item:last-child > a:active {
  border-color: var(--clr-accent);
  background-color: var(--clr-accent);
  color: var(--clr-primary);
}

.primary-nav__item > a:hover svg,
.primary-nav__item > a:focus svg,
.primary-nav__item > a:active svg {
  width: 1.25rem;
  height: 1.25rem;
  visibility: visible;
  opacity: 1;
  margin-left: 0.5rem;
  transform: translateX(0);
}

/* HERO */

.hero {
  background-color: var(--clr-secondary);
}

.hero .container {
  max-width: 105rem;
}

.hero .card {
  background-color: var(--clr-surface-light);
}

.hero .card .card__body {
  padding: clamp(2rem, 1.905vw + 1.714rem, 4rem);
  color: var(--clr-on-surface-light);
}

.hero .card .card__body .button-primary {
  background-color: var(--clr-primary);
  color: var(--clr-on-surface-dark);
}

.hero .card .card__image img {
  aspect-ratio: 3/2;
}

@media screen and (min-width: 80rem) {
  .hero .card .card__body,
  .hero .card .card__image {
    flex: 1 1 50%;
  }

  .hero .card .card__image img {
    min-height: 40rem;
  }
}

/* FEATURED */

.featured__heading {
  margin-bottom: 2rem;
}

.featured__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--fluid-gallery-gutter);
  width: 100%;
  height: auto;
}

.featured__item .card {
  --content-gutter-md: 1.5rem;
}

.featured__item .card .card__body {
  padding: var(--content-gutter-md);
  color: var(--clr-on-surface-light);
  background-color: var(--clr-surface-light);
}

@media screen and (min-width: 40rem) {
  .featured__item {
    flex: 1 1 33%;
  }
}

@media screen and (min-width: 80rem) {
  .featured__item {
    flex: 1 1 20%;
  }
}
